@use "variables";

.container {
  max-width: variables.$max-width;
  margin: 0 1.5rem;
  margin: auto;
}

//buttons
%btn-shared {
  display: inline-block;
  margin: 0.6rem 1.3rem;
  transition: all 0.1s;
  border: none;
  cursor: pointer;
}

.btn {
  &-primary {
    @extend %btn-shared;
    color: white;
    background-color: variables.$button-color;
  }
  &-dark {
    @extend %btn-shared;
    color: white;
    background-color: variables.$dark-color;
  }
}

//padding

.py {
  &-2 {
    margin: 2rem 0;
  }
}

.text-center {
  text-align: center;
}

.section-title {
  font-size: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

.border-bottom {
  height: 3px;
  width: 3rem;
  background-color: variables.$button-dark-hover-color;
  margin: 1rem auto;
  margin-top: auto;
}

.lead {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  word-spacing: normal;
}

.notion-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  text-align: center;

  .lead {
    margin-bottom: 0;
  }
}
